# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/

# Android related
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# iOS related
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/.symlinks/

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/

# Build
build/

# IntelliJ related
*.iml
.idea/

# VS Code
.vscode/